@font-face {
  font-family: 'Basic';
  src: url(./assets/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Medium';
  src: url(./assets/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Bold';
  src: url(./assets/Ubuntu-Bold.ttf);
}

:root {
  --brand1: #141959;
  --brand2: #352eb0;
  --brand3: #6d206e;
  --brand4: #de2489;
  --gray1: #dbdbdb;
  --gray2: #b3b3b3;
  --gray3: #999999;
  --gray4: #666666;
}

* {
  line-height: normal !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

body {
  margin: 0;
  font-family: 'Basic' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  border-radius: 5px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 8px;
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 975px !important;
}

.navbar {
  padding: 0 calc((100% - 975px)/2);
}